@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* coloring */

.font-white {
    color: #e5e5e5
}

.bkgrnd-black {
    background-color: black;
}

/* text */

.roboto {
    font-family: roboto, sans-serif;
}

.green {
    color: green
}

.red {
    color: red
}

/* displays */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* spacing */

.col-gap-5 {
    column-gap: 5px;
}

.col-gap-20 {
    column-gap: 20px;
}

.col-gap-30 {
    column-gap: 30px;
}

/* NAVBAR */

.nav-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 65px;
    width: 100%;
    position: sticky;
    top: 0;
    align-items: center;
    z-index: 100;
    background: #1a1a1a;
    border-bottom: 1px solid #282828;
}

.nav-container {
    width: 100%;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
}

.nav-logged-in {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
}

.nav-left-panel {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}


.portfolio-tracker {
    display: flex;
    font-family: roboto, sans-serif;
    text-decoration: none;
    border-radius: 12px;
    background-color: #262626;
    color: #CCCCCC;
}

.portfolio-tracker:hover {
    background-color: #9C84FF;
    color: black;
}

.tracker-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.home-button-container {
    display: flex;
    font-size: 24px;
    flex-direction: row;
    font-family: roboto, sans-serif;
    text-decoration: none;
    letter-spacing: 1px;
    align-items: center;
    justify-content: center;
    color: white;

}

.token {
    font-weight: 200;
}

.stats {
    font-weight: 500;
}

.logout-button-div {
    display: flex;
    font-family: roboto, sans-serif;
    font-weight: 900;
    text-decoration: none;
    border-radius: 12px;
    color: #9c84ff;
    cursor: pointer;
}

.logout-button-div:hover {
    color: #AD98FF;
}

.logout-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    letter-spacing: 1px;
}

.nav-logged-out {
    display: flex;
    flex-direction: row;
    width: 90%;
}

.signup-login-buttons {
    display: flex;
    font-family: roboto, sans-serif;
    font-weight: 900;
    text-decoration: none;
    border-radius: 12px;
    color: #9c84ff;
    cursor: pointer;
}
