@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* coloring */

.font-white {
    color: #e5e5e5
}

.bkgrnd-black {
    background-color: black;
}

/* text */

.roboto {
    font-family: roboto, sans-serif;
}

.green {
    color: green
}

.red {
    color: red
}

/* displays */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* spacing */

.col-gap-5 {
    column-gap: 5px;
}

.col-gap-20 {
    column-gap: 20px;
}

.col-gap-30 {
    column-gap: 30px;
}


