.portfolios-page {
    display: flex;
    flex-direction: row;
    color: #e5e5e5;
    font-weight: 400;
    background-color: black;
    font-family: roboto, sans-serif;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 300px;
}

.portfolios-left-container {
    display: flex;
    flex-direction: column;
    width: 15%
}

.portfolios-right-container {
    display: flex;
    flex-direction: column;
    width: 80%
}

.portfolios-right-header-container {
    display: flex;
    flex-direction: row;
    color: #999999;
    letter-spacing: 1px;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 10px 0px;
    margin: 10px 0px;
    column-gap: 20px;
}


.portfolios-header-clicked {
    border-bottom: 2px solid #9c84ff;
    cursor: pointer;
}
.portfolios-header-unclicked {
    cursor: pointer;
}

.portfolios-buttons-container {
    display: flex;
    flex-direction: row;
}

button {
    color: #e5e5e5;
    border: none;
    background-color: black;
    padding: 15px;
    cursor: pointer;
}

.portfolios-buttons {
    color: #e5e5e5;
    border: none;
    background-color: black;
    padding: 15px;
    cursor: pointer;
}


.portfolios-buttons-clicked {
    color: #e5e5e5;
    background-color: black;
    border-left: 2px solid #9c84ff;
    padding: 15px;
    cursor: pointer;
}
