.trades-header-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    color: #999999;
    letter-spacing: 1px;
    font-size: 12px;
    border-top: 1px solid #404040;
    border-bottom: 1px solid #404040;
    padding: 10px 0px;
    margin: 10px 0px
}

.trades-individual-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 9px;
    margin-bottom: 9px;
    border-bottom: 1px solid #282828;
}



.items-col-1 {
    display: flex;
    width: 20%;
    justify-content: flex-start;
}
.items-col-2 {
    display: flex;
    width: 10%;
    justify-content: flex-end;
}

.reg-cols {
    display: flex;
    width: 17%;
    justify-content: flex-end;
}

.flex-end {
    justify-content: flex-end;
}

.add-txn-button {
    display: flex;
    justify-content: flex-end;
    color: #948CFF;
    font-weight: 900;
    cursor: pointer;
}

.add-txn-button:hover {

    color: #AD98FF;

}
