@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


.create-trade-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  background-color: #1a1a1a;
  font-size: 14px;
  color: #9c84ff;
}

.create-trade-form-title {
  display: flex;
  justify-content: center;
  font-family: roboto, sans-serif;
  font-size: 24px;
  color: white;
}

.create-trade-modal-body {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  max-width: 100%;
  background-color: #1a1a1a;
  position: relative;
  padding-top: 18px;
}

.create-trade-form-label {
  letter-spacing: 1px;
  font-family: roboto, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin-bottom: 5px;
  margin-top: 6px;
}

.create-trade-form-input {
  min-width: 300px;
  width: 80%;
  height: 30px;
  border-radius: 6px;
  border: 1px solid #404040;
  background-color: #1a1a1a;
  padding: 2px;
  cursor: pointer;
  caret-color: black;
  text-overflow: ellipsis;
  color: white;
  caret-color: white;
}



.create-trade-form-input::placeholder {
  color: #A9A9A9;
}


.edit-trade-form-error-message {
  font-family: roboto, sans-serif;
  color: #ff4d4d
}

.create-trade-button-container {
  padding-top: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.create-trade-form-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9c84ff;
  color: black;
  font-family: roboto, sans-serif;
  font-weight: bold;
  border-radius: 18px;
  width: 100px;
  height: 20px;
}

.create-trade-form-errors {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  color: rgb(151, 151, 151);
  font-family: roboto, sans-serif;
  font-weight: bold;
  border-radius: 18px;
  width: 100px;
  height: 20px;
  cursor: default;
}

.create-trade-form-submit:hover {
  background-color: #ad98ff;
  transition-duration: 0.4s;
}

.create-trade-form-cancel-here {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a;
  border: 1px solid #404040;
  color: white;
  font-family: roboto, sans-serif;
  font-weight: bold;
  border-radius: 18px;
  width: 100px;
  height: 20px;
}

.create-trade-form-cancel-here:hover {
  background-color: black;
  transition-duration: 0.4s;
}

.input-separator-div {
  padding-bottom: 12px;
}

/* SEARCHBAR */

.token-image {
  height: 17px;
  width: 17px;
  padding-right: 7px;
}

.tokenResultsDiv {
  position: absolute;
  top: 100px;
  /* right: 125px; */
  width: 206px;
  z-index: 101;
}

.search-entries-container {
  padding: 8px;
  border: 1px solid #404040;
  background-color: #131313;
  z-index: 101;
}

.search-entries-container:hover {
background-color: black;
transition-duration: 0.4s;
}

/* .searchClear {
  position: sticky;
  display: flex;
  align-items: center;
} */

.search-entries {
  font-family: roboto, sans-serif;
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none;
  z-index: 101;
}

  @media screen and (max-width: 900px) {
    .create-book-form {
      max-width: 50vh;
    }
  }

  @media screen and (max-height: 800px) {
    .create-book-form {
      max-height: 50vh;
    }
  }
